.p1{
background: rgb(185, 185, 185);

}

.d1{display: flex;}


.black{
    width: 600px;
    margin-right: 50px;
}

span{color: orangered;}

.archi{
    font-size: 90px;
    margin-bottom: 30px;
    margin-top: 100px
}

.d2{
    margin-left: 50px;
}

.random{
    margin-bottom: 70px;
    
}

button{background: orangered;
    color: white;
    font-weight: 1px;
    font-size: 15px;
    border: none;     
    border-radius: 10px;
    text-shadow: #6b4848;
    padding: 13px;
    width:150px;
    margin-right: 30px;
    }

    .butt{margin-bottom: 40px;
    margin-left: 1px;}

    .con{
        margin-left: 70px;
   display: flex;
 align-items: center;
        
 }
        
        
 .card{
  width:400px;
 text-align: center;
 background:orangered;
height: 300px;
margin-bottom: 30px;
}

.card1{
    width:400px;
   text-align: center;
   background:rgb(253, 113, 19);
  height: 300px;
  margin-bottom: 30px;
  }

  .card2{
    width:400px;
   text-align: center;
   background:rgb(255, 120, 10);
  height: 300px;
  margin-bottom: 30px;
  }
            
 .bagg{
  margin-top: 30px;
  background: white;
 border-radius: 20px;
 padding: 8px;
 margin-bottom: 20px;
 }
 
 .ran{
    margin-bottom: 30px ;
 }

 .ram{margin-bottom: 30px;}

 .tton{
    background: white;
    color: black;
    padding: 5px;
    width: 90px;
    border-radius: 1px;
 }
    
 .meet{
    margin-top: 50px;
    font-size: 50px;
    font: bolder;
    margin-bottom: 1px;
 }
 
 .p2{
    box-shadow: 0 0 10px rgb(242, 231, 247);
 }
 
 .gl{display: flex;
    background: rgb(252, 105, 7);
    height: 300px;
   
}
 
 .eei{
    
    padding: 80px;
    text-align: end;
 }

 .gl .p1m{
    width: 400px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    height: 300px;
 }

 .p2w{
    width: 400px;
    margin-bottom: 20px;
 }
 